/*清除浮动，放浮动元素的父元素上*/
.clearfix:after{visibility:hidden;clear:both;display:block;content:".";height:0}
.clearfix{*zoom:1}
/*统一浮动float:left;格式*/
.align_between{text-align:justify}
.align_between>div,.align_between>h3,.align_between>p,.align_between>li{display:inline-block;vertical-align:top}
.align_between:after{width:100%;height:0;margin:0;display:inline-block;overflow:hidden;content:''}
body{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
ul li{
  list-style: none;
}
.container{
  width: 1665px;
  margin: 0 auto;

}
.bg_index{
  background-image: url("../images/comindex/bg_index.jpg");
  height: 800px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  background-attachment: fixed;
}
.culture{
  background: url("../images/comHeader/bg8.jpg") center top no-repeat;
  width: 1338px;
  height: 587px;
  margin-left: 15px;
  margin-bottom: 6px;
}
.bannerHover{
  width:87%;
  margin: 0 auto;
}
.bannerHover1{
  background-image: url("../images/comHeader/bg1.jpg ");
  z-index: 200;
}
/**/
.el-menu-demo{
  background: transparent;
  color: white;
  padding-top: 50px;

}
.el-menu--horizontal .el-submenu .el-submenu__title{
   color: white;
 }
.el-menu--horizontal>.el-menu-item.is-active, .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
  color:white !important;
  background:none;
  border-bottom:none !important;
}
.el-menu--horizontal .el-submenu .el-submenu__title:hover {
  background:none !important;
  color:pink;
}
.el-menu--horizontal .el-menu-item:hover {
  color: pink !important;
}
.el-menu--horizontal{
  border: none;
}
.el-menu--horizontal .el-menu-item{
  color: white;
}
.el-menu--horizontal .el-menu-item:hover{
  background: rgba(255, 255, 255, 0);
}
.el-submenu__title i{
  color: white;
}
.el-menu--horizontal .el-submenu .el-menu-item{
  color: black;
  padding-top: 0;
  background: white;
}
.el-menu--horizontal .el-submenu:focus>.el-submenu__title {
  color:pink !important;
}

/*.el-menu--horizontal .el-submenu .el-menu-item.is-active{
  color: #ff7820;
}*/
.active{color: red}
.logo{
  float: left;
  margin-right:260px;
  margin-left:10px;
  margin-top:-32px;
}
.news li a{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 219px;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
/*分页按钮*/
.el-pager li {
  background: #e3e3ea;
  margin-right: 20px;
}
.conta{
  background-image: url("../images/contact.jpg ");
  height:960px;
}
/*资质荣誉*/
.el-collapse-item__header {
  padding-left: 20px !important;
  font-size: 18px;
  font-weight: 700;
}
.el-collapse-item__content {
  padding-left: 20px !important;
  font-size:15px;
}
.router-link-exact-active{
  color: green !important;
}
.router-link-exact-active a{
  color: green !important;
  background: black;
}

